@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
::-moz-selection {
  background: #a38bfa;
}
::selection {
  background: #a38bfa;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  list-style: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding: 180px 2em;
  padding-bottom: 100px;
}

@media (max-width: 1270px) {
  .container .teams-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .container .teams-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 250px;
  }
  .container .teams-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

body {
  background: #1d1e36;
  background: -webkit-gradient(linear, left bottom, left top, from(#1d1e36), to(#2b2c4f));
  background: linear-gradient(0deg, #1d1e36 0%, #2b2c4f 100%);
  color: #fff;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
}

.loading-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-page .spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.loading-page .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  stroke: #54569C;
  -webkit-animation: dash 1.4s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

#login {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2em;
}

#login .logo {
  width: 864px;
  margin-bottom: 85px;
}

#login .btn-login {
  cursor: pointer;
  background: none;
}

#login .btn-login:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  -webkit-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  padding: 0;
}

.google-button:focus, .google-button:hover {
  -webkit-box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

.google-button:active {
  background-color: #e5e5e5;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: 10ms;
          transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.google-button__icon svg {
  vertical-align: initial;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#header {
  padding: 18px 66px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-content .header-logo {
  width: 192px;
}

#header .header-content .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#header .header-content .user .user-name {
  margin-right: 1em;
}

#header .header-content .user .user-circle {
  width: 64px;
  height: 64px;
  background: #dbad0d;
  background: -webkit-gradient(linear, left bottom, left top, from(#dbad0d), to(#ffe70f));
  background: linear-gradient(0deg, #dbad0d 0%, #ffe70f 100%);
  border-radius: 50%;
  position: relative;
}

#header .header-content .user .user-circle .user-avatar {
  width: 56px;
  height: 56px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 28px);
  top: calc(50% - 28px);
  overflow: hidden;
}

#header .header-content .user #box-logout {
  position: absolute;
  bottom: -85px;
  width: 195px;
  height: 55px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #54569C;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#header .header-content .user #box-logout:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -9px;
  right: 25px;
}

#header .header-content .user #box-logout button {
  color: #54569C;
  background: none;
}

@media screen and (max-width: 768px) {
  #header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 480px) {
  #header {
    padding: 18px 0px;
  }
  #header .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header .header-content .user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2em;
  }
  #header .header-content .user .user-name {
    margin-right: 0;
    margin-top: 1em;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header-logo {
  width: 192px;
}

.levels-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.levels-list ul a:hover {
  color: #fff;
}

.levels-list ul .level-item {
  border-radius: 15px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background-color: #1D1E36;
  border: 1px solid #54569C;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px 200px;
  text-transform: uppercase;
  margin-bottom: 2em;
  font-size: 1.5em;
}

@media (max-width: 555px) {
  .levels-list ul .level-item {
    padding: 20px 50px;
  }
}

.levels-list ul .level-item:hover {
  background-color: #54569C;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.41);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.41);
}

.level-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.level-head .level-title {
  margin-bottom: 80px;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  margin-right: 2em;
}

.level-head .btn-back {
  position: static;
}

@media screen and (max-width: 480px) {
  .level-head .btn-back {
    position: static;
    margin-top: 0;
  }
}

@media screen and (max-width: 420px) {
  .level-head .btn-back {
    position: static;
    margin-top: -30px;
    margin-bottom: 2em;
  }
}

.teams-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px 50px;
}

.card-team {
  position: relative;
  border-radius: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background-color: #54569C;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px;
  border: none;
  min-height: 246px;
  cursor: pointer;
}

.card-team:hover {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.41);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.41);
}

.card-team:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.card-checked {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), inset 0px 0px 0px 2px #FFE70F;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), inset 0px 0px 0px 2px #FFE70F;
}

.card-checked:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), inset 0px 0px 0px 2px #FFE70F;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), inset 0px 0px 0px 2px #FFE70F;
  -webkit-transform: none;
          transform: none;
}

.team-page-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  position: relative;
}

.team-page-container .team-img {
  width: 500px;
}

.team-page-container .team-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

.team-page-container .team-form form .form-input {
  margin-right: 1em;
}

.team-page-container .team-form form .form-input input {
  width: 333px;
  height: 82px;
  border-radius: 15px;
  background: #1D1E36;
  border: 2px solid #767ADB;
  text-align: center;
  color: #fff;
  font-size: 25px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.team-page-container .team-form form .form-input input:focus {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.41);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.41);
}

.team-page-container .team-form form .form-input input::-webkit-input-placeholder {
  color: #fff;
}

.team-page-container .team-form form .form-input input:-ms-input-placeholder {
  color: #fff;
}

.team-page-container .team-form form .form-input input::-ms-input-placeholder {
  color: #fff;
}

.team-page-container .team-form form .form-input input::placeholder {
  color: #fff;
}

.team-page-container .team-form form .btn-submit {
  height: 82px;
  width: 82px;
  background: #767ADB;
  border-radius: 15px;
  padding: 1.2em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 100ms;
  transition: 100ms;
}

.team-page-container .team-form form .btn-submit .i-check {
  color: #fff;
  width: 100%;
  height: 100%;
}

.team-page-container .team-form form .btn-submit:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.41);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.41);
}

.team-page-container .team-form form .btn-submit:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

@media screen and (max-width: 480px) {
  .team-page-container {
    height: 100%;
    padding: 250px 2em 2em 2em;
  }
  .team-page-container .team-form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team-page-container .team-form form .form-input {
    margin: 0 0 1em 0;
    margin-right: 0;
  }
  .team-page-container .team-form form .form-input input {
    width: 313px;
    height: 62px;
  }
}

.input-wrong {
  border: 2px solid red !important;
}

.temblar {
  -webkit-animation: tiembla 0.1s infinite;
          animation: tiembla 0.1s infinite;
}

@-webkit-keyframes tiembla {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes tiembla {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

.team-page-container .team-name {
  font-size: 70px;
}

.btn-back {
  position: absolute;
  left: 8%;
  bottom: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #54569C;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.btn-back:hover {
  color: #fff;
}

.btn-back:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn-back span {
  margin-left: 1em;
}

@media screen and (max-width: 480px) {
  .btn-back {
    position: initial;
    margin-top: 5em;
  }
}
/*# sourceMappingURL=App.css.map */